body {
    background-color: rgb(41, 32, 32);
}
.fixedElement {
    background-color: #e7e6e6;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    font-weight: bold;
}
table.main-table {
    width: 180%;
    table-layout: fixed;
    border-collapse: collapse;
}
td {
    display: table-cell;
    height: 48px;
    width: 48px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    vertical-align: middle;
}
td.none {
    border: none;
    text-align: left;
    color: white;
}
td.index {
    border: none;
    height: 12px;
    width: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
}
td.am {
    background-color: sandybrown;
}
td.aem {
    background-color: lightgoldenrodyellow;
}
td.lanth {
    background-color: lightpink;
}
td.acti {
    background-color: lightcoral;
}
td.trans {
    background-color: rgb(124, 162, 235);
}
td.ptrans {
    background-color: rgb(181, 204, 181);
}
td.metalloid {
    background-color: rgb(114, 235, 188);
}
td.nm {
    background-color: rgb(0, 255, 98);
}
td.ng {
    background-color: rgb(180, 202, 224);
}
td.unkonwn {
    background-color: rgb(66, 74, 83);
}
table.details {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.backBtn {
    width: 20%;
    height: 15%;
    border: 0;
    background: none green;
    box-shadow: none;
    border-radius: 0px;
}
.whiteText {
    color: white;
}
.detailsText {
    color: black;
    background: white;
    width: 100%;
    text-align: left;
    float: left;
    padding: 0;
}